<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body bgcolor="skyblue">
  <h2> <center> टीचर- इतने दिन कहां थे, स्कूल क्यों नहीं आए?

    गोलू- बर्ड फ्लू हो गया था मैम। <br>
    
    टीचर- पर ये तो पक्षियों को होता है इंसानों को नहीं। <br>
    
    गोलू- इंसान समझा ही कहां आपने...रोज तो मुर्गा बना देती हो..!!</h2> <br> </center>
    <h1>{{variable1}}</h1> <br>
    <h2>{{variable2}}</h2>

</body>

</html>